.nav.navbar-nav.navbar-right li.active a.whitish {
 color: black;
}
.navbar-default {
	background-color: transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}
.nav.navbar-nav.navbar-right li a.whitish {
	color: #fff;
}
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}
div.background.contact {
    background-image: url(../images/entrepreneurship.jpg);
    background-size: cover;
    background-attachment: fixed;
}
input[type=submit] {
    background-color: #800080;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10% / 25%;
}

input[type=submit]:hover {
    background-color: #4B0082;
    border-radius: 25% / 50%;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
.trans{
  background-color: rgba(0, 0, 0, 0.5);
}
/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* form submission successful page */
div.acknowledgement {
    font-size: 2em;
    background-color: rgb(13, 6, 22);
    color: #eee;
    padding: 5%;
    min-height: 90vh;
}