#more {
        display: none;
      }
      #more1 {
              display: none;
            }
  h1 {
                margin: 0;
                display: block;
                padding: 1em;
                color: black;
    }
  div.background.event
  {
      background-image: url(../images/events/background.jpg);
         background-size: cover;
         background-attachment: fixed;
         min-height: 100vh;
       }
  body{
      background-image: url(../images/events/p.jpg);
         font-family: Helvetica, sans-serif;
         text-color:white;
      }
button{
  color:black;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 3px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}
