
img.logo {
    text-align: center;
    display: inline-block;
    max-width: 343px;
    width: 100%;
    margin: 3em;
}
div.wrapper, div.background {
    min-height: 100vh;
}
div.heading h1 {
    margin: 0;
    color: #fff;
    padding: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.heading h3 {
    margin: 0;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.15em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.boxwrapper {
    text-align: center;
}
button.box {
    display: inline-block;
    margin: 5em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 1em;
    border: 1px solid white;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0);
}
button.blue {
    background-color: #095988;
    border: 1px solid #095988;
}