/* frontpage section */
div.full {
    min-height: 100vh;
}
img.logo {
    text-align: center;
    display: inline-block;
    max-width: 400px;
    width: 100%;
    padding: 3em;
    margin-top: 7em;
}
div.heading h1 {
    margin: 0;
    color: #fff;
    padding: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-align: center;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
}
div.heading h3 {
    margin: 0;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.15em;
    text-align: center;
    word-wrap: break-word;
}

div.boxwrapper {
    text-align: center;
}
button.box {
    display: inline-block;
    margin: 5em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 1em;
    border: 1px solid white;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0);
}
button.blue {
    background-color: #095988;
    border: 1px solid #095988;
}

span.glyphicon {
    display: inline-block;
    padding: 2em;
}

/* teams section */
.teams {
    text-align: center;
    padding: 2em;
    background-color: #dadada;
}
h1.head {
    width: 100%;
    color: #252222;
}
img {
    max-width: 80px;
}
p.label {
    display: block;
    padding: 1em;
    font-size: 1.6em;
    color: #1d1d1d;
}
.imageholder {
    display: inline-block;
    padding: 1.5em;
}
.test {
    height: 50vh;
    background-color: #000;
}

/* quote section */
.quotebg {
    background-color: rgb(37, 33, 87);
    padding: 6em;
    text-align: center;
    margin: 0;
}
h1.quote {
    color: #fff;
    letter-spacing: 2px;
}
footer {
    font-size: 1.5em;
    color: rgb(178, 215, 240);
}

/* social section */
div.social {
    background-color: rgb(175, 175, 175);
    padding: 2em;
    text-align: center;
}

img.social {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
img.social:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
.mission {
  background-color: #F4F6F7;
  padding: 6em;
  text-align: center;
  margin: 0;
}

.p1{
   font-size: 3em;
}
.p2
{
  font-size: 1.3em;
  letter-spacing: 2px;
}
h1.dream{
  color:  #095988;
}
