* {
font-family: 'Raleway';
}
.nav.navbar-nav.navbar-right li a.whitish {
	color: #fff;
}
.navbar-default {
	background-color: rgba(90, 90, 120, 0.9) !important;
	border-color:transparent;
	box-shadow:none;
    position: fixed;
    min-width: 100%;
}
.nav.navbar-nav.navbar-right li.active a.whitish {
	color: black;
}

@media only screen and (max-width : 1200px) {
    .navbar-default {
        position: relative;
    }
}