@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400');
body {
    margin: 0;
}
div.background {
    background-image: url(bg.gif);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
}
img.logo {
    text-align: center;
    display: inline-block;
    width: 65%;
    max-width: 343px;
}
div.wrapper {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100vw;
    min-height: 100vh;
}
div.heading h2 {
    margin: 0;
    color: #fff;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 5em;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0.15em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
div.heading h1 {
    margin: 0;
    color: #fff;
    padding: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.heading h3 {
    margin: 0;
    color: #fff;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 0.15em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.boxwrapper {
    text-align: center;
}
div.box {
    display: inline-block;
    margin: 5em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 1em;
    border: 1px solid white;
    letter-spacing: 2px;
}
div.box.blue {
    background-color: #095988;
    border: 1px solid #095988;
}

div.arrow {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}